<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= data %>
    
    <table width="100%" border="2px">
        <tr>
            <td>S.No</td>
            <td>Category Name</td>
            <td>Image</td>
            <td>Action</td>
        </tr>
        <% for(let i = 0; i< data.length; i++) { %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= data[i].category %><br></td>
            <td>
                <img src="/uploads/<%= data[i].image %>" alt="" width="200">
            </td>
            <td>
                <a href="/admin/edit-category/<%= data[i].id %>">Edit</a> | <a href="/admin/delete-category/<%= data[i].id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>