<%- include('./includes/head.ejs') %>

<%- include('./components/navbar.ejs') %>
    <h1>Hello world! This is index</h1>
    <h3><%= greeting %></h3>
    <h1><%= name %></h1>
    
    
<%- include('./includes/script.ejs') %>